body {
    color: rgb(0, 0, 0);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color:  rgb(79, 142, 225);
}

.chamada {
    background: rgba(214, 16, 16, 0.863);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex; /pra ficar tudo na mesma linha de forma flexivel + ela ultrapassa a pagina/
    overflow-x: auto; /pra que se ajuste e nao ultrapasse no eixo x/
    gap: 10px; /*cria um vão entre os videos */
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(79, 142, 225);
    font-weight: 500;
}